@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

.menu{
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 368px 40px 326px 0px;
}
.image{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../images/ImagenFondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.daniel {
  height: 150px;
  width: 413px;
  transform: rotate(270deg);
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 110px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 150px;
  text-align: center;
}

.rocha {
  height: 150px;
  width: 398px;
  transform: rotate(90deg);
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 110px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 150px;
  text-align: center;
}

.iconssm{
  position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.lateral{
  width: 100vh;
  height: 70px;
  transform: rotate(90deg) translate(-35px, -35px);
  transform-origin: left;
  top: 0;
  align-items: center;
  padding: 0px 54px 17px 77px;
  position: fixed;
}

.hi-danrocha-xyz {
    height: 14px;
    width: 80px;
    color: #7733FF;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
  }

  .nombre-de-la-agencia {
    height: 15px;
    width: 100%;
    color: #7733FF;
    font-family: "Open Sans";
    font-size: 11px;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
  }

  .canutillo-209-canut {
    height: 14px;
    width: 100%;
    color: #7733FF;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
  }

  .cv {
    height: 14px;
    width: 14px;
    color: #7733FF;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 14px;
    text-align: center;
  }

  .line {
    box-sizing: border-box;
    border-radius: 9999px;
    height: 0.1px;
    width: 40px;
    border: 2px solid #3399FF;
  }