@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

.rocha {
    height: 150px;
    width: 398px;
    transform: rotate(90deg);
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 150px;
    text-align: center;
  }

  .daniel {
    height: 150px;
    width: 413px;
    transform: rotate(270deg);
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 150px;
    text-align: center;
  }

  .imagen-fondo {
    height: 739px;
    width: 554px;
  }

  .hi-danrocha-xyz {
    height: 14px;
    width: 80px;
    transform: rotate(90deg);
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
  }
  .nombre-de-la-agencia {
    height: 15px;
    width: 208px;
    transform: rotate(90deg);
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 11px;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
  }
  .canutillo-209-canut {
    height: 14px;
    width: 279px;
    transform: rotate(90deg);
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
  }
  .cv {
    height: 14px;
    width: 14px;
    transform: rotate(90deg);
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 14px;
    text-align: center;
  }

  .menu {
    height: 106px;
    width: 40px;
  }
  .line {
    box-sizing: border-box;
    height: 0.1px;
    width: 20px;
    border: 3px solid #3399FF;
  }
  .line2 {
    box-sizing: border-box;
    height: 2px;
    width: 40px;
    border: 3px solid #3399FF;
  }
  .mi-playlist {
    height: 19px;
    width: 96px;
    color: #7733FF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
  }

  .indicador-de-pagina {
    height: 14px;
    width: 136px;
    color: #7733FF;
    font-family: "Open Sans";
    font-size: 15px;
    letter-spacing: 3.57px;
    line-height: 14px;
    text-align: center;
  }
  .indicador-de-pagina2 {
    height: 19px;
    width: 192px;
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 19px;
    text-align: center;
  }

  .titulo {
    height: 47px;
    width: 356px;
    color: #7733FF;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 9px;
    line-height: 47px;
    text-align: center;
  }
  .subtitulo {
    height: 29px;
    width: 730px;
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 29px;
    text-align: center;
  }
  .textos-1 {
    height: 76px;
    width: 563px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
  }
  
  .textos-2 {
    height: 53px;
    width: 598px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
  }
  .subtitulo-2 {
    height: 22px;
    width: 199px;
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 22px;
    text-align: center;
  }
  .lista {
    height: 154px;
    width: 426px;
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
  }
  .icono {
    height: 22px;
    width: 13px;
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.43px;
    line-height: 22px;
    text-align: center;
  }
  .textos-2-1 {
    height: 76px;
    width: 598px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
  }
  .texto-3 {
    height: 76px;
    width: 598px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: start;
  }
  .informacion-1 {
    height: 43px;
    width: 367px;
  }
  .software-engineer {
    height: 33px;
    width: 280px;
    color: #3399FF;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 33px;
    margin: 0 0 0 0;
  }
  .pc {
    height: 38px;
    width: 43px;
  }
  .act {
    height: 76px;
    width: 400px;
  }